{% stylesheet %}
.grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 767px) {
  .grid-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-item {
  position: relative;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  display: block;
  height: auto;
}

.plus-icon {
  position: absolute;
  transform: translate(50%, -50%);
  cursor: pointer;
}
{% endstylesheet %}

<section class="custom-grid-section">
  <div class="grid-section">
    {% for block in section.blocks %}
      <div class="grid-item" {{ block.shopify_attributes }}>
        {% if block.settings.grid_image %}
           {{ 
                block.settings.grid_image 
                | image_url: width:800
                | image_tag: class:'main-image',loading:'lazy'
            }}
        {% endif %}

        <div class="plus-icon"
          style="top: {{ block.settings.top_position }}%; right: {{ block.settings.right_poisition }}%;">
          <a href="{{ block.settings.product.url }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 17" fill="none">
              <circle cx="7.86496" cy="8.27719" r="7.85714" fill="#F8F8F8" fill-opacity="0.9"/>
              <path d="M8.1123 5.44995V11.4939" stroke="black" stroke-linecap="square" stroke-linejoin="round"/>
              <path d="M5.09033 8.47192H11.1343" stroke="black" stroke-linecap="square" stroke-linejoin="round"/>
            </svg>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Product Grid Section",
  "settings": [],
  "blocks": [
    {
      "type": "gridcol",
      "name": "Slides",
      "settings": [
        {
          "type": "image_picker",
          "id": "grid_image",
          "label": "Image"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "range",
          "id": "top_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Plus Icon Top",
          "default": 20
        },
        {
          "type": "range",
          "id": "right_poisition",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Plus Icon from Right",
          "default": 20
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Grid Section"
    }
  ]
}
{% endschema %}
