<style>
  .the-gift-guide-bottom-container{
    display: flex;
    justify-content: space-between;
  }

  .the-gift-guide-left-text-container{
    width: 40%;
    padding-right: 0;
    margin-top: 48px;
  }

  .the-gift-guide-main-heading-text{
    margin: 0;
    color: #000000;
    font-family: Jost;
    font-weight: 500;
    font-style: Medium;
    font-size: 70px;
    font-size: clamp(50px, 4.86vw, 70px);
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    margin-bottom: 50px;
  }

  .the-gift-guide-sub-heading-text{
    margin: 0;
    font-family: Jost;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0px;
    vertical-align: middle;
  }

  .the-gift-guide-button-container{
        margin-top: 50px;
  }

  .the-gift-guide-button{
    padding: 15px;
    width: 220px;
    display: block;
    text-align: center;
    max-width: 250px;
    color: #FFFFFF;
    font-family: Jost;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20.48px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background: #000000;
    text-decoration: none;
  }

  .the-gift-guide-right-container{
    width: 70%;
  }

  .The-gift-guide-upper{
    width: 100%;
    height: auto;
    object-fit: contain;
  }

   @media screen and (max-width: 1270px) {
    .the-gift-guide-main-heading-text{
      font-size: clamp(30px, 3.94vw, 50px);
      margin-bottom: 30px;
    }

    .the-gift-guide-button-container {
        margin-top: 30px;
    }

    .the-gift-guide-left-text-container {
        margin-top: 28px;
    }
   }

  @media screen and (max-width: 1070px) {
      .the-gift-guide-main-heading-text{
          font-size: 30px;
          margin-bottom: 15px;
      }

      .the-gift-guide-button-container {
          margin-top: 15px;
      }

      .the-gift-guide-left-text-container {
          margin-top: 20px;
      }

      .the-gift-guide-sub-heading-text{
        font-size: 18px;
      }

      .the-gift-guide-button {
        padding: 12px;
        width: 180px;
        display: block;
        text-align: center;
        max-width: 250px;
        color: #FFFFFF;
        font-family: Jost;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        leading-trim: NONE;
        line-height: 16.48px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        background: #000000;
        text-decoration: none;
      }
  }



</style>
<div class = "The-gift-guide-main-container">
    <div class="the-gift-guide-upper-image">
       {{
          section.settings.desktop_main_image_upper
          | image_url: width: 1600
          | image_tag: class: 'The-gift-guide-upper', loading: 'eager'
        }}
    </div>
    <div class="the-gift-guide-bottom-container">
      <div class="the-gift-guide-left-text-container page-width">
          <div class = "the-gift-guide-main-heading">
            <h2 class="the-gift-guide-main-heading-text">{{ section.settings.heading }}</h2>
          </div>
          <div class="the-gift-guide-sub-heading-text">
            {{ section.settings.subheading }}
          </div>
          <div class="the-gift-guide-button-container">
            <a href="{{ section.settings.button_link }}" class="the-gift-guide-button">
              {{ section.settings.button_text }}
            </a>
          </div>
      </div>
      <div class="the-gift-guide-right-container">
          {{
            section.settings.desktop_main_image_Bottom_right
            | image_url: width: 1600
            | image_tag: class: 'The-gift-guide-upper', loading: 'eager'
          }}
      </div>
    <div>
</div>



{% schema %}
{
  "name": "The Gift Guide",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_main_image_upper",
      "label": "Desktop Upper Image"
    },
    {
      "type": "image_picker",
      "id": "desktop_main_image_Bottom_right",
      "label": "Desktop Bottom Right Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_main_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "The Gift Guide"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub Heading",
      "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "bottom_text",
      "label": "Bottom Text",
      "default": "Sustainable Ethecally Made Sizes from XXS to 6XL"
    }
  ],
  "presets": [{ "name": "The Gift Guide" }]
}
{% endschema %}